<div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <h1>Editing Book</h1>
    <%= form_with model: @book, local: true do |f| %>
      <div class = "form-group">
        <label for="inputName">Title</label>
        <%= f.text_field :title, autofocus: true, class:"form-control", id:"inputTitle", placeholder:"Title"%>
      </div>
      <div class = "form-group">
        <label for="inputIntroduction">Opinion</label>
        <%= f.text_field :body, autofocus: true, class:"form-control", id:"inputOpinion" %>
      </div>
      <div class = "form-group">
        <%= f.submit "Update Book", class: "btn btn-success" %>
      </div>
      <div>
        <%= link_to "Show", book_path(@book.id) %> |
        <%= link_to "Back", books_path %>
      </div>
    <% end %>

  </div>
</div>