<div class ="container">
  <div class ="row">


    <div class ="col-md-3">
      <h2>User info</h2>

        <%= image_tag current_user.get_profile_image(100,100) %><br>
          <th>name</th><th><%= current_user.name %></th><br>
          <th>introduction</th><th><%= current_user.introduction %></th><br>
        <%= link_to "User Edit", edit_user_path(current_user), class:"text-dark" %>


  
      <h2>New book</h2>

    
      <div id="error_explanation">
        <% if @book.errors.any? %>
          <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
    
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
  
      <!--form_with-->
      <%= form_with model: Book.new do |f| %>
        <div class="field">
          <label for="book_title">Title</label><br>
          <input class="book_title" type="text" name="book[title]" id="book_title">
        </div>
      
        <div class="field">
          <label for="book_body">Opinion</label><br>
          <textarea class="book_body" name="book[body]" id="book_body"></textarea>
        </div>
      
        <div class="actions">
          <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
    
        </div>
      
      <% end %>
    
    

    </div>







    <div class ="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>




    </div>
  </div>
</div>


